<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <!-- <section class="py-8 z-10 font-serif">
        <div class="flex flex-col md:flex-row items-center max-w-6xl px-6 py-8 mx-auto">
          <div class="w-full md:w-1/2 py-8">
            <h1 class="text-purple-900 text-7xl font-semibold leading-none tracking-tighter">
              Welcome<br><span class="text-black"> {{request.user.first_name}} {{request.user.last_name}}</span>
            </h1>
          </div>
          <div class="w-full md:w-1/2 py-8">
            <!-- <img src="https://www.svgrepo.com/show/493509/person-who-invests.svg" class="g-image"> -->
            <!-- <img src="https://www.svgrepo.com/show/493509/person-who-invests.svg" class="g-image">
          </div>
        </div>
      </section> --> 

      <div class="max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg hover:shadow-blue-400 m-8">
        <div class="relative">
          <img class="w-full h-48 object-fill" src="https://www.svgrepo.com/show/275222/man-user.svg" alt="Profile Image">
        </div>
        <div class="px-6 py-4">
          <div class="text-xl font-semibold text-gray-800">{{request.user.first_name}}</div>
          <p class="text-gray-600">Front-end Developer</p>
        </div>
        <div class="px-6 py-4">
          <span class="inline-block px-2 py-1 font-semibold text-teal-900 bg-teal-200 rounded-full">Web</span>
          <span class="inline-block px-2 py-1 font-semibold text-indigo-900 bg-indigo-200 rounded-full">UI/UX</span>
          <span class="inline-block px-2 py-1 font-semibold text-purple-900 bg-purple-200 rounded-full">Design</span>
        </div>
        <div class="px-6 py-4">
          <a href="#" class="text-blue-500 hover:underline">View Profile</a>
        </div>
      </div>
      
</body>
</html>